# Portions of code copyright 2017-2026 Franck Nijhof
# See hassio-addons/repository, hassio-addons/workflows
---
name: CI

on:
  workflow_call:

permissions:
  actions: read
  contents: write
  pull-requests: read
  packages: read
  security-events: write

jobs:
  information:
    name: Gather information
    runs-on: ubuntu-latest
    outputs:
      architectures: ${{ steps.information.outputs.architectures }}
      build: ${{ steps.information.outputs.build }}
      description: ${{ steps.information.outputs.description }}
      name: ${{ steps.information.outputs.name }}
      slug: ${{ steps.information.outputs.slug }}
      target: ${{ steps.information.outputs.target }}
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6.0.2
      - name: Run app information action
        id: information
        uses: frenck/action-addon-information@v1.4.2

  lint-app:
    name: Lint
    needs:
      - information
    runs-on: ubuntu-latest
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6.0.2
        with:
          persist-credentials: false
      - name: Run App Lint
        uses: frenck/action-addon-linter@v2.21
        with:
          community: true
          path: "./${{ needs.information.outputs.target }}"

  build:
    name: Build ${{ matrix.architecture }}
    needs:
      - information
      - lint-app
    runs-on: ${{ matrix.architecture == 'aarch64' && 'ubuntu-24.04-arm' || 'ubuntu-latest' }}
    strategy:
      matrix:
        architecture: ${{ fromJson(needs.information.outputs.architectures) }}
    steps:
      - name: Check out code from GitHub
        uses: actions/checkout@v6.0.2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3.12.0
      - name: Compose build flags
        id: flags
        env:
          ARCHITECTURE: ${{ matrix.architecture }}
          BUILD_FILE: ${{ needs.information.outputs.build }}
        run: |
          echo "date=$(date +"%Y-%m-%dT%H:%M:%SZ")" >> "$GITHUB_OUTPUT"
          from=$(yq --no-colors eval ".build_from.${ARCHITECTURE}" "${BUILD_FILE}")
          echo "from=${from}" >> "$GITHUB_OUTPUT"

          if [[ "${ARCHITECTURE}" = "amd64" ]]; then
            echo "platform=linux/amd64" >> "$GITHUB_OUTPUT"
          elif [[ "${ARCHITECTURE}" = "aarch64" ]]; then
            echo "platform=linux/arm64/v8" >> "$GITHUB_OUTPUT"
          else
            echo "::error ::Could not determine platform for architecture ${ARCHITECTURE}"
            exit 1
          fi
      - name: Build
        uses: docker/build-push-action@v6.19.2
        with:
          push: false
          context: ${{ needs.information.outputs.target }}
          file: ${{ needs.information.outputs.target }}/Dockerfile
          cache-from: |
            type=gha,scope=${{ matrix.architecture }}
            type=registry,ref=ghcr.io/${{ github.repository_owner }}/${{ needs.information.outputs.slug }}/${{ matrix.architecture }}:edge
          cache-to: type=gha,mode=max,scope=${{ matrix.architecture }}
          platforms: ${{ steps.flags.outputs.platform }}
          build-args: |
            BUILD_ARCH=${{ matrix.architecture }}
            BUILD_DATE=${{ steps.flags.outputs.date }}
            BUILD_DESCRIPTION=${{ needs.information.outputs.description }}
            BUILD_FROM=${{ steps.flags.outputs.from }}
            BUILD_NAME=${{ needs.information.outputs.name }}
            BUILD_REF=${{ github.sha }}
            BUILD_REPOSITORY=${{ github.repository }}
            BUILD_VERSION=edge

  update_release_draft:
    name: Draft release
    needs:
      - build
    if: github.event_name == 'push' && github.ref_name == github.event.repository.default_branch
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: read
    steps:
      - name: Run Release Drafter
        uses: release-drafter/release-drafter@v6.2.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
